body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
    background: #eaeaea;
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.app {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 130px 0 40px 0;
	border: 1px solid #ccc;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.title {
	font-size: 26px;
}

.todo-list {
	line-height: 43px;
	font-size: 20px;
	color: #D9D9D9;
	text-shadow: 0 -1px 0 #BFBFBF;
}

.todo-new {
	font-size: 20px;
	padding-left: 5px;
	background: rgba(0, 0, 0, 0.02);
	box-shadow: none;
    border-bottom: 1px dotted #CCC;
   	color: #4D4D4D;
	line-height: 43px;
}
.toggle-all {
	/*
	background: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-transform: rotate(90deg);
	*/
}

.toggle-all:before {
	/*
	content: '»';
	font-size: 28px;
	color: #D9D9D9;
	padding: 0 25px 7px;
	*/
}

.todo-new-input {
	margin-left: 5px;
	padding-left: 5px;
	color: #4D4D4D;
	border: none;
	font-size: 24px;
	line-height: 43px;
	background: rgba(0, 0, 0, 0.02);
	width: 92%;
}

.item {
	border-bottom: 1px dotted #CCC;
}

.item-checkbox {
	margin-left: 5px;
}

.item-input {
	margin-left: 5px;
	padding-left: 5px;
	color: #4D4D4D;
	border: none;
	font-size: 24px;
	line-height: 43px;
	width: 84%;
}

.footer {
	color: #777;
	padding: 0 15px;
	position: relative;
	right: 0;
	bottom: -31px;
	left: 0;
	z-index: 1;
	height: 43px;
	text-align: center;
}

.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 31px;
	left: 0;
	height: 50px;
	z-index: -1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
				0 6px 0 -3px rgba(255, 255, 255, 0.8),
				0 7px 1px -3px rgba(0, 0, 0, 0.3),
				0 43px 0 -6px rgba(255, 255, 255, 0.8),
				0 44px 2px -6px rgba(0, 0, 0, 0.2);
}
